
.containerAllFormSignIn {
    
    font-family: 'Arial', sans-serif;
    min-height: 100vh; 
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem;
    box-sizing: border-box;
}


.TitleSignIn {
    color: #f3f3f3; 
    text-shadow: 0 0 5px #0a0000, 0 0 15px #000000;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
}


.FormSignIn {
    background-color: #130601;
    padding: 2rem 2.5rem; 
    border-radius: 8px;    
    box-shadow: 0 4px 12px rgb(255, 255, 255); 
    width: 100%;
    max-width: 350px; 
    border: 2px solid #f3f3f3;
    border-top: 5px solid #330303; 

}



.containerLb&InpSignIn {
    margin-bottom: 1.5rem;
}


.LbFormSignIn {
    display: block; 
    font-size: 1rem;
    color: #e7e7e7; 
    margin-bottom: 0.5rem;
    font-weight: 500;
    text-align: center;
}


.InpFormSignIn {
    width: 100%;
    padding: 0.75rem;
    background-color: #000000; 
    color: #ffffff; 
    border: 1px solid #fdfb61;
    border-radius: 4px;
    font-size: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box; 
}
.InpFormSignIn:hover{
    border-color: #dddddd; 
    box-shadow: 0 0 0 1px rgb(221, 221, 221); 
   
}

.InpFormSignIn:focus {
    border-color: #dddddd; 
    box-shadow: 0 0 0 2px rgb(170, 170, 170); 
   
}


.btnEnterSignIn {
    width: 100%;
    padding: 0.9rem;
    background-color: #3d3d3da6; 
    color: #f5f4f4;
    border: 2px solid rgb(247, 247, 247);
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.05rem;
    font-weight: 700;
    margin-top: 1rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
    
}

.btnEnterSignIn:hover {
    background-color: #1d1d1d; 
    transform: translateY(-1px); 
    color: #dffd35;
    box-shadow: 0 2px 8px rgb(0, 0, 0);
    border: 2px solid gold;
}

.LinkRegister {
    text-align: center;
    margin-top: 2rem;
   color: #c5c5c5;
    font-size: 0.95rem;
    line-height: 1.4;
}

.LinkRegister a {
    color: #ffffff; 
    text-decoration: none;
    font-weight: 600;
    transition: color 0.2s;
}

.LinkRegister a:hover {
    color: #ffe600;
    text-decoration: underline;
}

/*=======================================================
  4. RESPONSIVIDAD (Móvil)
=======================================================*/

@media (max-width: 500px) {
    .FormSignIn {
        padding: 1.5rem;
        max-width: 95%; 
    }

    .containerAllFormSignIn > h1 {
        font-size: 1.8rem;
    }
    
    .btnEnterSignIn {
        padding: 0.8rem;
    }
}