

.ContainerAllForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem;
    min-height: 100vh; 
    font-family: 'Arial', sans-serif; 
}

/* Título Principal */
.TituloP {
     color: #faffb7; 
    text-shadow: 0 0 5px #000000, 0 0 15px #fff9aa;
    margin-bottom: 2.5rem;
    font-size: 2.2rem; /* Ligeramente más grande para prominencia */
    font-weight: 700;
    text-align: center;
}

/* Contenedor Flotante del Formulario */
.FormContainer {
    background-color: #202020;
    padding: 2.5rem;
    border-radius: 8px;  
    width: 100%;
    max-width: 450px; 
    box-shadow: 0 4px 12px rgb(255, 252, 215);
    border: 2px solid #fff278;
    border-top: 5px solid #fcff5b; 
}



.containerFormRecipes {
    border-bottom: none; 
    padding-bottom: 0;
    margin-bottom: 2rem;
}

.tituloOnFormRecipes {
    
    color: #fdff6f; 
    font-size: 1.5rem;
    margin: 0;
    font-weight: 600;
    text-align: center;
}


.containerUniqueFormRecipes {
    margin-bottom: 1.5rem;
}

/* Etiquetas (Labels) */
.labelFormRecipe {
    display: block; 
    font-size: 1rem; 
    color: #d6fc30; 
    margin-bottom: 0.5rem;
    font-weight: 500;
    text-align: center;
}

/* Campos de info (Inputs) */
.inputFormRecipes {
    width: 100%;
    padding: 0.75rem;
    
    background-color: #000000; 
    color: #ffffff; 
    border: 1px solid #fffd7a;
    
    border-radius: 4px;
    font-size: 0.9rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box; 
}

.inputFormRecipes:hover{
    border-color: #000000; 
    box-shadow: 0 0 0 1px rgb(221, 221, 221); 
}

.inputFormRecipes:focus {
    border-color: #000000; 
    box-shadow: 0 0 0 2px rgb(29, 29, 29); 
   
}


.btnPost {
    width: 100%;
    padding: 1rem;
    
   background-color: #250101; 
    color: #fffff6;
    border: 2px solid gold;

    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 0.5rem; 
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btnPost:hover {
   background-color: #000000; 
    transform: translateY(-1px); 
    color: #dffd35;
    box-shadow: inset 0 1px 8px rgb(255, 253, 128);
    border: 2px solid gold;
}



/* ======================================================= */
/* 5. RESPONSIVIDAD (Móvil) */
/* ======================================================= */

@media (max-width: 650px) {
    .FormContainer {
        padding: 1.5rem;
        max-width: 95%; 
    }

    .TituloP {
        font-size: 1.8rem;
    }
    
    .tituloOnFormRecipes {
        font-size: 1.4rem;
    }

    .btnPost {
        padding: 0.9rem;
        font-size: 1rem;
        margin-top: 1.5rem;
    }
}