
.containerAllFormRegister {
    font-family: 'Arial', sans-serif;
    min-height: 100vh; 
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem;
    box-sizing: border-box;
}


.titleTodoListRegister {
    color: #eafc4a; 
    text-shadow: 0 0 5px #000000, 0 0 15px #5e0600;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
}


.formRegisterTodoList {
    background-color: #707070c9;
    padding: 2rem 2.5rem; 
    border-radius: 8px; 
    box-shadow: 0 4px 12px rgb(7, 236, 252); 
    width: 100%;
    max-width: 450px; 
    border: 2px solid #ffe600;
    border-top: 5px solid #eeff00; 
}




.containerLb&InpRegister {
    margin-bottom: 1.5rem; /*Magin between inputs*/
}


.LbRegister {
    display: block; 
    font-size: 1rem;
    color: #d6fc30; 
    margin-bottom: 0.5rem;
    font-weight: 500;
}


.InpRegister {
    width: 100%;
    padding: 0.75rem;
    
    background-color: #272727; 
    color: #ffffff; 
    
    border: 1px solid #fffd7a; 
    border-radius: 4px;
    font-size: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box; 
}
.InpRegister:hover{
     border-color: #d4d4d4; 
    box-shadow: 0 0 0 3px rgb(0, 0, 0); 
}

.InpRegister:focus {
    border-color: #d4d4d4; 
    box-shadow: 0 0 0 3px rgb(0, 0, 0); 
    outline: none; 
}


.containerLb&InpRegister:last-of-type {
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkboxRegister {
    width: 18px;
    height: 18px;
    margin-left: 8px;
    accent-color: #dffd35; 
    cursor: pointer;
}

.containerLb&InpRegister:last-of-type .LbRegister {
    margin-bottom: 0;
}



.btnRegister {
    width: 100%;
    padding: 0.9rem;
    background-color: #bcfd54; 
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.05rem;
    font-weight: 700;
    margin-top: 1.5rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border: 3px solid rgb(229, 255, 0);
}

.btnRegister:hover {
    background-color: #1d1d1d; 
    transform: translateY(-1px); 
    color: #dffd35;
    box-shadow: 0 2px 8px rgb(0, 0, 0);
}

.LinkSignIn {
    text-align: center;
    margin-top: 2rem;
    color: #000000;
    font-size: 0.95rem;
    line-height: 1.4;
}

.LinkSignIn a {
    color: #fbff00; 
    text-decoration: none;
    font-weight: 600;
    transition: color 0.2s;
}

.LinkSignIn a:hover {
    color: #1304a1;
    text-decoration: underline;
}


/*=======================================================
  4. RESPONSIVIDAD (Móvil)
=======================================================*/

@media (max-width: 500px) {
    .formRegisterTodoList {
        padding: 1.5rem;
        max-width: 95%; 
    }

    .titleTodoListRegister {
        font-size: 1.8rem;
    }
    
    .btnRegister {
        padding: 0.8rem;
    }
}