
/* navAllContainer */
.navAllContainer {
    width: 100%;
    background-color: #2c3a38;
 
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    top: 0;
    z-index: 1000;
}

/* List of Nav (navUl) */
.navUl {
    list-style: none;
    padding: 1rem 2rem;
    margin: 0;
    border: 3px groove black;
    display: flex; 
    justify-content: center;
    align-items: center; 
    gap: 2rem; 
     box-shadow: 0 0 10px 4px #3b3b3b, inset 0 0 10px #ebffa4;
}



/* Ítems de la Lista (navLi y el <li> que contiene el botón) */
.navLi, .navUl > li {
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 0; 
    transition: all 0.2s ease;
}

/* Estilo del enlace (Link) */
.navLi a {
    text-decoration: none;
    color: #ebebeb;
    padding-bottom: 5px; 
   
    transition: color 0.5s ease; 
}

.navLi a:hover {
    color: #ffef08; 
    text-shadow: 0 0 3px #000000, 0 0 10px #fff671;
    border-bottom: 2px ridge #d1d1d1f5; 
}


.navLi:hover {
    background-color: transparent; 
    border-radius: 0;
}



.btnCloseSession {

    border: 1px solid #def704; 
    background-color: #521a00; 
    color: #fff460;
    
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

.btnCloseSession:hover {
    background-color: #201111; /* Azul más oscuro */
    border-color: #000000;
    color: #fff895ec;
    box-shadow:  inset 0 0 10px #ff0000;
}

/* ======================================================= */
/* 4. RESPONSIVIDAD (Móvil) */
/* ======================================================= */

@media (max-width: 768px) {
    .navUl {
        /* Secciones apiladas */
        flex-direction: column; 
        align-items: flex-start; 
        gap: 0; 
        padding: 1rem;
    }
    
    .navLi {
        width: 100%; 
        padding: 0.4rem 0; 
    }

    .navLi a {
        display: block; 
        padding: 0.5rem 1rem;
        /* Remueve el borde inferior en móvil para un diseño más limpio */
        border-bottom: none !important; 
    }
    
    .btnCloseSession {
        width: 100%; 
        text-align: center; 
        margin-top: 1rem; /* Más espacio para separar de los links */
        padding: 0.75rem;
    }
}